h1 {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 100px;
}
h2 {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
h3 {
  display: block;
}
span {
  display: block;
  white-space: nowrap;
}
.header {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 92px;
  padding-top: 92px;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  text-decoration: none;
}
.header__links-list {
  display: flex;
  justify-content: start;
  list-style: none;
  gap: 32px;
  padding-left: 26.52px;
}
.header__links-list-item {
  list-style: circle;
  gap: 8px;
  text-decoration: underline;
  text-underline-position: under;
}
.header_logo {
  width: min-content;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}
.header_address {
  margin-right: 25px;
  justify-self: right;
  display: flex;
  flex-flow: column wrap;
  max-width: 240.52px;
  line-height: 1.3;
}
.phone_mail {
  text-decoration: underline;
  text-underline-position: under;
}
.cover {
  background-image: url(../images/cover.jpg);
  color: #fff;
  height: 757px;
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-position: 57%;
  position: relative;
}
.overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  height: 100%;
}

.no-letter-spacing {
  letter-spacing: normal;
}
.cover__title {
  padding-top: 165px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 147px;
  letter-spacing: 30px;
}
.aligned-text {
  display: flex;
  justify-content: start;
}
.aligned-text_center {
  display: flex;
  justify-content: center;
}
.aligned-text_right {
  display: flex;
  justify-content: end;
}
.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  word-spacing: 22px;
  padding-bottom: 62px;
  padding-left: 78px;
  display: flex;
  text-transform: uppercase;
  font-size: 22px;
}
.bet-button {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  border: 1px solid #fff;
  background: transparent;
  padding: 12px 32px 11px 31px;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  top: 87%;
  left: 71.5%;
  position: absolute;
  z-index: 2;
}
.lots {
  margin-top: 179px;
  margin-bottom: 146px;
  min-height: 692px;
}
.lots__card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
  text-wrap: wrap;
  gap: 25px;
}
.lots__card-list-item {
  display: block;
}
.lots__heading {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-left: 64px;
}
.lots__look-more-link {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  margin-left: 64px;
}
.card {
  height: 563px;
  width: 334px;
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  margin-top: 27px;
  margin-bottom: 30px;
  color: #fff;
}
.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}
.card__title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  padding-top: 51px;
  padding-left: 40px;
  padding-right: 40px;
}
.card__text {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  position: absolute;
  bottom: 0;
}
.book_text {
  position: absolute;
  top: 155px;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: 45%;
  background-size: 200%;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: 45%;
  background-size: 200%;
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: 45%;
  background-size: 200%;
}
.about {
  min-height: 595px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 180px;
}
.about__column {
  display: grid;
}
.about__logo {
  background-color: black;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  z-index: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 47px;
  margin-top: 35px;
}
.about__logo-image {
  width: 141.54px;
  z-index: 1;
  position: relative;
}
.about__title {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  padding-top: 136px;
  padding-bottom: 100px;
}
.about__text__one {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 24px;
}
.about__text__two {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 88px;
}
.footer__menu {
  list-style: none;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__menu-list-item {
  list-style: none;
  text-decoration: underline;
  text-underline-position: under;
}
.footer_address {
  display: flex;
  flex-flow: column wrap;
  text-wrap: wrap;
  justify-self: left;
  max-width: 200px;
  line-height: 1.3;
}
.footer__social-icon {
  height: 48px;
}
.footer__social-list {
  list-style: none;
  display: grid;
  grid-template-columns: 48px 48px 48px;
  gap: 48px;
}
